body {
  margin: 0;
  font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

h2,
h3 {
  margin: 0;
}

h1,
p {
  margin: 10px 0;
}

input,
textarea {
  font-size: 15px;
  font-family: inherit;
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.inputBox {
  padding: 10px;
  display: grid;
  justify-items: start;
  gap: 10px;
}

.layout {
  display: grid;
  justify-items: start;
  gap: 20px;
  width: 100%;
}

.item{
  display: grid;
  justify-items: start;
  margin-top: 10px;
  width: 100%;
}

form{
  margin: 0 auto;
  background-color: aliceblue;
  padding-bottom: 10px;
}

.button-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

button {
  background-color: rgb(94, 94, 220);
  border: none;
  padding: 10px;
  width: 100px;
  color: white;
  border-radius: 5px;
}

.delete-btn {
  background-color: rgb(241, 84, 84);
}

button:hover {
  cursor: pointer;
}
