
body {
  margin: 0;
  padding: 0;
  font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
  font-size: clamp(2px, 2vw, 12px);
  line-height: 2;
}

div {
  box-sizing: border-box;
}

h1 {
  font-weight: 100;
}

h2,
h3,
p {
  margin: 0;
}

h1 {
  color: rgb(52 52 96);
  font-weight:700;
}

ul {
  padding-left: 15px;
  text-align: justify;
}

#info {
  grid-area: 2 / 1 / 2 / -1;
}

hr {
  width: 100%;
  margin: 0;
}

#head {
  background-color: rgb(52 52 96);
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
  border-radius: 3px;
  margin: 20px 0;
}

#head > h1 {
  margin: 0;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

.edit-title {
  background-color: #d8d8d8;
  padding: 10px;
  margin-top: 50px;
}

label {
  display: block;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  width: 96%;
  margin-bottom: 20px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: inherit;
  font-weight: 700;
}

/* .inputBox {
  display: grid;
  justify-items: start;
} */

.layout {
  display: grid;
  justify-items: start;
  width: 100%;
}

.item{
  display: grid;
  grid-template-columns: max-content 5fr;
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  gap: 1em;
}

#title {
  grid-row: 1;
  grid-column: 2 / span 4;
  
}

.dates {
  grid-row: 1;
  grid-column: 1 / span 1;
  font-weight: bold;
  font-size: 1.17em;
  align-self: flex-start;
}

form{
  margin: 0 auto;
  background-color: aliceblue;
  padding: 10px;
}

.button-bar {
  grid-row: 3;
  grid-column: 1 / span 5;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-self: flex-end;
}

button {
  font-size: inherit;
  background-color: rgb(94, 94, 220);
  border: none;
  margin: 5px 5px 5px 0;
  padding: 10px;
  width: 80px;
  height: fit-content;
  color: white;
  border-radius: 5px;
}

.delete-btn {
  background-color: rgb(241, 84, 84);
}

button:hover {
  cursor: pointer;
}

hr {
  margin-bottom: 15px;
}
